<!DOCTYPE html>
<html>
<head>
    <title>User Page</title>
</head>
<body>
    <h1>Welcome, <%= username %>!</h1>
    <a href="/analyze_prescription/<%= username %>">Analyze Prescription</a>
</body>
</html>
